# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Env files
.env
.env.*

# Data outputs
/data/*.csv
/data/*.json

# OS / Editor
.DS_Store
*.log
.idea/
.vscode/
